# Node modules
NgRx/node_modules/

# Build output
NgRx/dist/
NgRx/build/

# Dependency directories
NgRx/node_modules/

# Angular specific
NgRx/.angular/
NgRx/.editor

NgRx/.angular

# IDE and editor specific files
NgRx/.vscode
NgRx/.idea/
NgRx/*.suo
NgRx/*.user
NgRx/*.userosscache
NgRx/*.sln
NgRx/.DS_Store
NgRx/Thumbs.db

# Logs
NgRx/npm-debug.log*
NgRx/yarn-debug.log*
NgRx/yarn-error.log*

# Temporary files
NgRx/tmp/
NgRx/temp/
