<div class="container">
  <div class="add-section">
    <input id="taskInput" type="text" placeholder="Enter Task">
    <button id="addTaskBtn" type="button">ADD</button>
  </div>
  <div id="tableSection" class="table-section">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="serial">
        <th mat-header-cell *matHeaderCellDef> S.No. </th>
        <td mat-cell *matCellDef="let task; index as i"> {{ i + 1 }} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
        <td mat-cell *matCellDef="let task"> {{ task.name }} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date </th>
        <td mat-cell *matCellDef="let task"> {{ task.date | date:'short' }} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let task; let i = index">
          <div>
            <button mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>